<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/typeslibrary/1.0"
            class="org.obeonetwork.dsl.typeslibrary.provider.TypesLibraryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/typeslibrary/1.0"
            class="org.obeonetwork.dsl.typeslibrary.providers.TypeslibraryEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.typeslibrary.providers.TypeslibraryPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.obeonetwork.dsl.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.obeonetwork.dsl.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.obeonetwork.dsl.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.typeslibrary.section.NativeTypesLibrary"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.typeslibrary.NativeTypesLibrary">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.typeslibrary.section.TypeInstance"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.typeslibrary.TypeInstance">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.typeslibrary.section.NativeType"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.typeslibrary.NativeType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.typeslibrary.section.ComplexNamedType"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.typeslibrary.ComplexNamedType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.typeslibrary.section.SimpleNamedType"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.typeslibrary.SimpleNamedType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.typeslibrary.section.UserDefinedTypeRef"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.typeslibrary.UserDefinedTypeRef">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.typeslibrary.section.UserDefinedTypesLibrary"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.typeslibrary.UserDefinedTypesLibrary">
             </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
