<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/entityrelation/1.0"
            class="org.obeonetwork.dsl.entityrelation.provider.EntityRelationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/entityrelation/1.0"
            class="org.obeonetwork.dsl.entityrelation.providers.CustomEntityrelationEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.entityrelation.providers.EntityrelationPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   
   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.obeonetwork.dsl.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.obeonetwork.dsl.properties">
         <propertyTab
               label="LogicalModel"
               category="extended"
               id="LogicalModel"
               afterTab="LogicalModel">
         </propertyTab>
         <propertyTab
               label="Entity"
               category="extended"
               id="Entity"
               afterTab="Entity">
         </propertyTab>
         <propertyTab
               label="Identifiers"
               category="extended"
               id="Identifiers"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Relation"
               category="extended"
               id="Relation"
               afterTab="Relation">
         </propertyTab>
         <propertyTab
               label="Relation Element"
               category="extended"
               id="Relation Element"
               afterTab="Relation Element">
         </propertyTab>
         <propertyTab
               label="Attribute"
               category="extended"
               id="Attribute"
               afterTab="Attribute">
         </propertyTab>
         <propertyTab
               label="Identifier"
               category="extended"
               id="Identifier"
               afterTab="Identifier">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.obeonetwork.dsl.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.entityrelation.section.LogicalModel"
               tab="LogicalModel">
             <input
                    type="org.obeonetwork.dsl.entityrelation.LogicalModel">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.entityrelation.section.Entity"
               tab="Entity">
             <input
                    type="org.obeonetwork.dsl.entityrelation.Entity">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.entityrelation.section.Entity"
               tab="Identifiers">
             <input
                    type="org.obeonetwork.dsl.entityrelation.Entity">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.entityrelation.section.Relation"
               tab="Relation">
             <input
                    type="org.obeonetwork.dsl.entityrelation.Relation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.entityrelation.section.RelationElement"
               tab="Relation Element">
             <input
                    type="org.obeonetwork.dsl.entityrelation.RelationElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.entityrelation.section.Attribute"
               tab="Attribute">
             <input
                    type="org.obeonetwork.dsl.entityrelation.Attribute">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.entityrelation.section.Identifier"
               tab="Identifier">
             <input
                    type="org.obeonetwork.dsl.entityrelation.Identifier">
             </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
