<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.obeonetwork.dsl.dbermapping.presentation.DbermappingModelWizardID"
            name="%_UI_DbermappingModelWizard_label"
            class="org.obeonetwork.dsl.dbermapping.presentation.DBERMappingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DbermappingModelFile.gif">
         <description>%_UI_DbermappingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.dbermapping.presentation.DBERMappingEditorID"
            name="%_UI_DbermappingEditor_label"
            icon="icons/full/obj16/DbermappingModelFile.gif"
            extensions="dbermapping"
            class="org.obeonetwork.dsl.dbermapping.presentation.DBERMappingEditor"
            contributorClass="org.obeonetwork.dsl.dbermapping.presentation.DBERMappingActionBarContributor">
      </editor>
   </extension>

</plugin>
